# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [84]:
import pandas as pd
import numpy as np

with open ("jeopardy.csv") as jeopardy_file:
    #read csv file and convert to dictionary
    jeopardy_csv_dict = pd.read_csv(jeopardy_file)
    #eliminates spaces before and after the strings and replaces space with semicolon
    jeopardy_csv_dict.columns =  jeopardy_csv_dict.columns.str.strip().str.replace(' ', '_')
    pd.set_option('display.max_colwidth', None)
print(jeopardy_csv_dict.head())

   Show_Number    Air_Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [85]:
list_to_filter = ["King", "England"]
def filter_questions (jeopardy_csv_dict,filter_words):
    #this function joins the words and set boundaries to avoid words like kingdoms, etc.
    pattern = r'\b(' + '|'.join(filter_words) + r')\b'
    #use str.contains to search the column question
    filtered_list = jeopardy_csv_dict[jeopardy_csv_dict.Question.str.contains(pattern, case=False)]
    #reset indexing
    filtered_list = filtered_list.reset_index()
    return filtered_list
filtered_list = filter_questions(jeopardy_csv_dict,list_to_filter)
print(len(filtered_list))
print(filtered_list.Question.head())

C:\Users\cuate\AppData\Local\Temp\ipykernel_13212\4225796184.py:6: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtered_list = jeopardy_csv_dict[jeopardy_csv_dict.Question.str.contains(pattern, case=False)]

3719
0    <a href="http://www.j-archive.com/media/2004-12-31_DJ_26.mp3">Ripped from today's headlines, he was a turtle king gone mad; Mack was the one good turtle who'd bring him down</a>
1                  <a href="http://www.j-archive.com/media/2004-12-31_DJ_24.mp3">"500 Hats"... 500 ways to die.  On July 4th, this young boy will defy a king... & become a legend</a>
2                                                                                                                 She was born in Virginia around 1596 & died in Kent, England in 1617
3                                                                                      After a 15-year stay in England, this proprietor of Pennsylvania returned to his colony in 1699
4                                                                                             On December 27, 1831 it departed Plymouth, England to map the coastline of South America
Name: Question, dtype: object

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [86]:
def filter_questions_modified (jeopardy_csv_dict,list_to_filter):
    filtered_list_2 = jeopardy_csv_dict[jeopardy_csv_dict.apply(lambda row: all(word.lower() in row['Question'].lower() for word in list_to_filter), axis=1)]
    return filtered_list_2
filtered_list = filter_questions_modified(jeopardy_csv_dict,list_to_filter)
print(filtered_list.Question)

4953                    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337      In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                    This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710               This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                       It's the number that followed the last king of England named William
                                                           ...
208295        In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742                      Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870                In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021          His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789        This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
Name: Question, Length: 152, dtype: object

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [87]:
#replace symbols with spaces and comma with point
jeopardy_csv_dict["Value_float"] = jeopardy_csv_dict.Value.str.replace('$','').str.replace(',','')
#convert new column to float, errors to convert non numeric to NaN and replacing NaN with 0 with fillna
jeopardy_csv_dict['Value_float'] = pd.to_numeric(jeopardy_csv_dict['Value_float'], errors='coerce').fillna(0).astype(float)
print(round(jeopardy_csv_dict.Value_float.mean(),2))
#function to calculate the average of questions value
words = ["King"]
def avg_value_questions (jeopardy_csv_dict,word_value):
    #filter questions by "words" list
    filtered_questions_by_words = jeopardy_csv_dict[jeopardy_csv_dict.apply(lambda row: all(word.lower() in row['Question'].lower() for word in word_value), axis=1)]
    #calculate the average of the value float column
    avg_value = filtered_questions_by_words.Value_float.mean()
    return round(avg_value,2)

avg_value = avg_value_questions(jeopardy_csv_dict,words)
print(avg_value)

739.99
771.88

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [88]:
def unique_answers (filtered_list,word_value):
    #filter the data set by the word in question
    filtered_list_question = filtered_list[filtered_list.apply(lambda row: all(word_value.lower() in row['Question'].lower() for word_value in word_value), axis=1)]
    #count unique values in thr row Answer
    count_unique_answers = filtered_list_question["Answer"].value_counts()
    return count_unique_answers

unique_answeres_data = unique_answers(jeopardy_csv_dict,["King"])
print(unique_answeres_data)

Answer
Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)     1
Henderson                     1
Computer                      1
Indians                       1
work                          1
Name: count, Length: 5268, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [111]:
def category_value(data,keyword):
    #replace $ sign with empty and comma with space
    data["Value_float"] = data.Value.str.replace('$','').str.replace(',','')
    #convert new column to float, errors to convert non numeric to NaN and replacing NaN with 0 with fillna
    data['Value_float'] = pd.to_numeric(data['Value_float'], errors='coerce').fillna(0).astype(float)
    #filter answers by keyword 
    data = data[data.apply(lambda row: all(word.lower() in str(row['Answer']).lower() for word in keyword), axis=1)]
    # filter data by date
    data['Air_Date'] = pd.to_datetime(data['Air_Date'])
    data = data[data["Air_Date"] > pd.to_datetime('2010-12-31')]
    #group data by category
    group_by_category = data.groupby(["Category", "Air_Date"])['Value_float'].mean().sort_values(ascending = False).reset_index()
    return group_by_category
grouped_by_category = category_value(jeopardy_csv_dict, "Japan")

pivoted_grouped = grouped_by_category.pivot(columns= "Category", index = "Air_Date", values = "Value_float" )
print(pivoted_grouped)

Category    "EVER"S  "I"s IN THE PRIZE  20th CENTURY ARTISTS  \
Air_Date
2011-01-05      NaN             2400.0                   NaN
2011-01-10      NaN                NaN                   NaN
2011-01-11      NaN                NaN                   0.0
2011-01-12      NaN                NaN                   NaN
2011-01-19      NaN                NaN                   NaN
2011-01-24      NaN                NaN                   NaN
2011-01-26      NaN                NaN                   NaN
2011-02-01      NaN                NaN                   NaN
2011-02-08      NaN                NaN                   NaN
2011-02-09      NaN                NaN                   NaN
2011-02-11      NaN                NaN                   NaN
2011-02-28      NaN                NaN                   NaN
2011-03-02      NaN                NaN                   NaN
2011-03-04      NaN                NaN                   NaN
2011-03-07      NaN                NaN                   NaN
2011-03-11      NaN                NaN                   NaN
2011-04-22      NaN                NaN                   NaN
2011-04-28      NaN                NaN                   NaN
2011-05-13      NaN                NaN                   NaN
2011-05-20      NaN                NaN                   NaN
2011-05-31      NaN                NaN                   NaN
2011-06-07      NaN                NaN                   NaN
2011-06-10      NaN                NaN                   NaN
2011-06-13      NaN                NaN                   NaN
2011-06-21      NaN                NaN                   NaN
2011-06-22      NaN                NaN                   NaN
2011-07-01      NaN                NaN                   NaN
2011-07-04      NaN                NaN                   NaN
2011-07-11      NaN                NaN                   NaN
2011-07-13   1200.0                NaN                   NaN
2011-07-18      NaN                NaN                   NaN
2011-07-19      NaN                NaN                   NaN
2011-07-21      NaN                NaN                   NaN
2011-07-22      NaN                NaN                   NaN
2011-09-19      NaN                NaN                   NaN
2011-09-22      NaN                NaN                   NaN
2011-10-06      NaN                NaN                   NaN
2011-10-26      NaN                NaN                   NaN
2011-10-28      NaN                NaN                   NaN
2011-10-31      NaN                NaN                   NaN
2011-11-08      NaN                NaN                   NaN
2011-11-09      NaN                NaN                   NaN
2011-11-16      NaN                NaN                   NaN
2011-11-24      NaN                NaN                   NaN
2011-11-28      NaN                NaN                   NaN
2011-12-05      NaN                NaN                   NaN
2011-12-15      NaN                NaN                   NaN
2011-12-19      NaN                NaN                   NaN
2011-12-20      NaN                NaN                   NaN
2011-12-23      NaN                NaN                   NaN
2012-01-19      NaN                NaN                   NaN
2012-01-25      NaN                NaN                   NaN

Category    AIRLINES' HOME COUNTRIES  ALL SAINTS DAYS  AMERICAN ART & ARTISTS  \
Air_Date
2011-01-05                       NaN              NaN                     NaN
2011-01-10                       NaN              NaN                     NaN
2011-01-11                       NaN              NaN                     NaN
2011-01-12                       NaN              NaN                     NaN
2011-01-19                       NaN              NaN                     NaN
2011-01-24                     200.0              NaN                     NaN
2011-01-26                       NaN              NaN                     NaN
2011-02-01                       NaN              NaN                     NaN
2011-02-08                       NaN              NaN                     NaN
2011-02-09                       NaN              NaN                     NaN
2011-02-11                       NaN              NaN                     NaN
2011-02-28                       NaN              NaN                     NaN
2011-03-02                       NaN              NaN                     NaN
2011-03-04                       NaN              NaN                     NaN
2011-03-07                       NaN              NaN                     NaN
2011-03-11                       NaN              NaN                     NaN
2011-04-22                       NaN              NaN                     NaN
2011-04-28                       NaN              NaN                     NaN
2011-05-13                       NaN              NaN                     NaN
2011-05-20                       NaN              NaN                     NaN
2011-05-31                       NaN              NaN                     NaN
2011-06-07                       NaN              NaN                     NaN
2011-06-10                       NaN              NaN                     NaN
2011-06-13                       NaN              NaN                     NaN
2011-06-21                       NaN              NaN                     NaN
2011-06-22                       NaN              NaN                     NaN
2011-07-01                       NaN              NaN                     NaN
2011-07-04                       NaN              NaN                     NaN
2011-07-11                       NaN              NaN                     NaN
2011-07-13                       NaN              NaN                     NaN
2011-07-18                       NaN              NaN                     NaN
2011-07-19                       NaN              NaN                     NaN
2011-07-21                       NaN              NaN                     NaN
2011-07-22                       NaN              NaN                     NaN
2011-09-19                       NaN              NaN                     NaN
2011-09-22                       NaN              NaN                     NaN
2011-10-06                       NaN              NaN                     NaN
2011-10-26                       NaN              NaN                   800.0
2011-10-28                       NaN              NaN                     NaN
2011-10-31                       NaN              NaN                     NaN
2011-11-08                       NaN            800.0                     NaN
2011-11-09                       NaN              NaN                     NaN
2011-11-16                       NaN              NaN                     NaN
2011-11-24                       NaN              NaN                     NaN
2011-11-28                       NaN              NaN                     NaN
2011-12-05                       NaN              NaN                     NaN
2011-12-15                       NaN              NaN                     NaN
2011-12-19                       NaN              NaN                     NaN
2011-12-20                       NaN              NaN                     NaN
2011-12-23                       NaN              NaN                     NaN
2012-01-19                       NaN              NaN                     NaN
2012-01-25                       NaN              NaN                     NaN

Category    AMERICAN LITERATURE  ANNUAL EVENTS  ART QUOTES  ARTISTS  ...  \
Air_Date                                                             ...
2011-01-05                  NaN            NaN         NaN      NaN  ...
2011-01-10                  NaN            NaN         NaN      NaN  ...
2011-01-11                  NaN            NaN         NaN      NaN  ...
2011-01-12                  NaN            NaN         NaN      NaN  ...
2011-01-19                  NaN            NaN         NaN      NaN  ...
2011-01-24                  NaN            NaN         NaN      NaN  ...
2011-01-26                  NaN            NaN      2000.0      NaN  ...
2011-02-01                  NaN            NaN         NaN      NaN  ...
2011-02-08                  NaN            NaN         NaN      NaN  ...
2011-02-09                  NaN            NaN         NaN      NaN  ...
2011-02-11                  NaN            NaN         NaN      NaN  ...
2011-02-28                200.0            NaN         NaN      NaN  ...
2011-03-02                  NaN            NaN         NaN      NaN  ...
2011-03-04                  NaN            NaN         NaN      NaN  ...
2011-03-07                  NaN            NaN         NaN      NaN  ...
2011-03-11                  NaN            NaN         NaN      NaN  ...
2011-04-22                  NaN            NaN         NaN      NaN  ...
2011-04-28                  NaN            NaN         NaN      NaN  ...
2011-05-13                  NaN            NaN         NaN      NaN  ...
2011-05-20                  NaN            NaN         NaN      NaN  ...
2011-05-31                  NaN            NaN         NaN      NaN  ...
2011-06-07                  NaN          400.0         NaN      NaN  ...
2011-06-10                  NaN            NaN         NaN    800.0  ...
2011-06-13                  NaN            NaN         NaN      NaN  ...
2011-06-21                  NaN            NaN         NaN      NaN  ...
2011-06-22                  NaN            NaN         NaN      NaN  ...
2011-07-01                  NaN            NaN         NaN      NaN  ...
2011-07-04                  NaN            NaN         NaN      NaN  ...
2011-07-11                  NaN            NaN         NaN      NaN  ...
2011-07-13                  NaN            NaN         NaN      NaN  ...
2011-07-18                  NaN            NaN         NaN      NaN  ...
2011-07-19                  NaN            NaN         NaN      NaN  ...
2011-07-21                  NaN            NaN         NaN      NaN  ...
2011-07-22                  NaN            NaN         NaN      NaN  ...
2011-09-19                  NaN            NaN         NaN      NaN  ...
2011-09-22                  NaN            NaN         NaN      NaN  ...
2011-10-06                  NaN            NaN         NaN      NaN  ...
2011-10-26                  NaN            NaN         NaN      NaN  ...
2011-10-28                  NaN            NaN         NaN      NaN  ...
2011-10-31                  NaN            NaN         NaN      NaN  ...
2011-11-08                  NaN            NaN         NaN      NaN  ...
2011-11-09                  NaN            NaN         NaN      NaN  ...
2011-11-16                  NaN            NaN         NaN      NaN  ...
2011-11-24                  NaN            NaN         NaN      NaN  ...
2011-11-28                  NaN            NaN         NaN      NaN  ...
2011-12-05                  NaN            NaN         NaN      NaN  ...
2011-12-15                  NaN            NaN         NaN      NaN  ...
2011-12-19                  NaN            NaN         NaN      NaN  ...
2011-12-20                  NaN            NaN         NaN      NaN  ...
2011-12-23                  NaN            NaN         NaN      NaN  ...
2012-01-19                  NaN            NaN         NaN      NaN  ...
2012-01-25                  NaN            NaN         NaN      NaN  ...

Category    THE LANGUAGE OF LOVE  THE MOTION OF THE OCEAN  THEODORE ROOSEVELT  \
Air_Date
2011-01-05                   NaN                      NaN                 NaN
2011-01-10                   NaN                      NaN                 NaN
2011-01-11                   NaN                      NaN                 NaN
2011-01-12                   NaN                      NaN                 NaN
2011-01-19                   NaN                      NaN                 NaN
2011-01-24                   NaN                      NaN                 NaN
2011-01-26                   NaN                      NaN                 NaN
2011-02-01                   NaN                      NaN                 NaN
2011-02-08                   NaN                      NaN                 NaN
2011-02-09                   NaN                      NaN                 NaN
2011-02-11                   NaN                      NaN                 NaN
2011-02-28                   NaN                      NaN                 NaN
2011-03-02                   NaN                      NaN                 NaN
2011-03-04                   NaN                      NaN                 NaN
2011-03-07                 800.0                      NaN                 NaN
2011-03-11                   NaN                      NaN                 NaN
2011-04-22                   NaN                      NaN                 NaN
2011-04-28                   NaN                      NaN                 NaN
2011-05-13                   NaN                      NaN                 NaN
2011-05-20                   NaN                      NaN                 NaN
2011-05-31                   NaN                      NaN              1600.0
2011-06-07                   NaN                      NaN                 NaN
2011-06-10                   NaN                      NaN                 NaN
2011-06-13                   NaN                      NaN                 NaN
2011-06-21                   NaN                      NaN                 NaN
2011-06-22                   NaN                      NaN                 NaN
2011-07-01                   NaN                      NaN                 NaN
2011-07-04                   NaN                      NaN                 NaN
2011-07-11                   NaN                      NaN                 NaN
2011-07-13                   NaN                      NaN                 NaN
2011-07-18                   NaN                      NaN                 NaN
2011-07-19                   NaN                      NaN                 NaN
2011-07-21                   NaN                      NaN                 NaN
2011-07-22                   NaN                      NaN                 NaN
2011-09-19                   NaN                      NaN                 NaN
2011-09-22                   NaN                      NaN                 NaN
2011-10-06                   NaN                    800.0                 NaN
2011-10-26                   NaN                      NaN                 NaN
2011-10-28                   NaN                      NaN                 NaN
2011-10-31                   NaN                      NaN                 NaN
2011-11-08                   NaN                      NaN                 NaN
2011-11-09                   NaN                      NaN                 NaN
2011-11-16                   NaN                      NaN                 NaN
2011-11-24                   NaN                      NaN                 NaN
2011-11-28                   NaN                      NaN                 NaN
2011-12-05                   NaN                      NaN                 NaN
2011-12-15                   NaN                      NaN                 NaN
2011-12-19                   NaN                      NaN                 NaN
2011-12-20                   NaN                      NaN                 NaN
2011-12-23                   NaN                      NaN                 NaN
2012-01-19                   NaN                      NaN                 NaN
2012-01-25                   NaN                      NaN                 NaN

Category    TOUCHED BY AN ANGEL  TV JUDGES  TV TO MOVIE ROLES  WATER CARRIERS  \
Air_Date
2011-01-05                  NaN        NaN                NaN             NaN
2011-01-10                  NaN        NaN                NaN             NaN
2011-01-11                  NaN        NaN                NaN             NaN
2011-01-12                  NaN        NaN                NaN             NaN
2011-01-19                  NaN        NaN                NaN             NaN
2011-01-24                  NaN        NaN                NaN             NaN
2011-01-26                  NaN        NaN                NaN             NaN
2011-02-01                  NaN        NaN                NaN             NaN
2011-02-08                  NaN        NaN                NaN             NaN
2011-02-09                  NaN      400.0                NaN             NaN
2011-02-11                  NaN        NaN                NaN             NaN
2011-02-28                  NaN        NaN                NaN             NaN
2011-03-02                  NaN        NaN                NaN             NaN
2011-03-04                  NaN        NaN                NaN             NaN
2011-03-07                  NaN        NaN                NaN             NaN
2011-03-11                  NaN        NaN                NaN             NaN
2011-04-22                  NaN        NaN                NaN             NaN
2011-04-28                  NaN        NaN                NaN             NaN
2011-05-13                  NaN        NaN                NaN             NaN
2011-05-20                  NaN        NaN                NaN             NaN
2011-05-31                  NaN        NaN                NaN             NaN
2011-06-07                  NaN        NaN                NaN             NaN
2011-06-10                  NaN        NaN                NaN             NaN
2011-06-13                  NaN        NaN                NaN             NaN
2011-06-21                  NaN        NaN                NaN             NaN
2011-06-22                  NaN        NaN                NaN             NaN
2011-07-01                  NaN        NaN                NaN             NaN
2011-07-04                  NaN        NaN                NaN             NaN
2011-07-11                  NaN        NaN                NaN             NaN
2011-07-13                  NaN        NaN                NaN             NaN
2011-07-18                  NaN        NaN                NaN          2000.0
2011-07-19                  NaN        NaN                NaN             NaN
2011-07-21                  NaN        NaN                NaN             NaN
2011-07-22                  NaN        NaN                NaN             NaN
2011-09-19                  NaN        NaN                NaN             NaN
2011-09-22                  NaN        NaN                NaN             NaN
2011-10-06                  NaN        NaN                NaN             NaN
2011-10-26                  NaN        NaN                NaN             NaN
2011-10-28                  NaN        NaN                NaN             NaN
2011-10-31                  NaN        NaN                NaN             NaN
2011-11-08                  NaN        NaN                NaN             NaN
2011-11-09                  NaN        NaN                NaN             NaN
2011-11-16                  NaN        NaN                NaN             NaN
2011-11-24                  NaN        NaN                NaN             NaN
2011-11-28                  NaN        NaN                NaN             NaN
2011-12-05                  NaN        NaN                NaN             NaN
2011-12-15                  NaN        NaN                NaN             NaN
2011-12-19                  NaN        NaN                NaN             NaN
2011-12-20                800.0        NaN                NaN             NaN
2011-12-23                  NaN        NaN                NaN             NaN
2012-01-19                  NaN        NaN                NaN             NaN
2012-01-25                  NaN        NaN              600.0             NaN

Category    WHO'S BIBLICALLY SPEAKING?  WORLD OF SOUP  YOU'RE EXCOMMUNICATED
Air_Date
2011-01-05                         NaN            NaN                    NaN
2011-01-10                         NaN            NaN                    NaN
2011-01-11                         NaN            NaN                    NaN

C:\Users\cuate\AppData\Local\Temp\ipykernel_13212\2612379898.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Air_Date'] = pd.to_datetime(data['Air_Date'])

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.